<footer>
    <h1>sisas estamos melos con la pagina</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa earum repellat eum, delectus facere nemo tempore? Consequatur, deserunt. Placeat illum nesciunt perferendis quo nisi ipsa quibusdam modi quisquam enim beatae. Ducimus esse iste eius possimus quae aspernatur eos quia repellat molestias asperiores, optio tempora, ab fugiat rem odit et id.</p>
</footer>